<div>
	<div class="modal-body">
		<div>This will reset all current planets.</div>
		<div>Are you sure?</div>
		<div style="padding-bottom:20px"></div>
		<div class="col-md-6">
			<div class="text-center">
				<button class="btn btn-danger btn-lg" ng-click="decide('yes')">Yes</button>
			</div>
		</div>
		<div class="col-md-6 text-center">
			<div class="text-center">
				<button class="btn btn-standard btn-lg" ng-click="decide('')">No</button>
			</div>
		</div>
		<div style="color:white">.</div>
	</div>
</div>