<div class="navbar planetTabs barColors borderColors" id="planetNavTabs">
	
	<button ng-click="addPlanet()" class="btn btn-primary addPlanetButton planetTabButtonPadding borderColors">
		Add Planet
	</button>
	
	<button class="btn planetButton planetTabButton planetTabButtonPadding barColor borderColors" 
    	ng-click="changeActivePlanet(-1); populatePriceMap()" style="color: green">
    	Information Panel
    </button>
	
    <button class="btn planetButton planetTabButton planetTabButtonPadding" 
    	ng-repeat="p in planets" ng-click="changeActivePlanet(p.planetID)">
    	{{p.text}}
    </button>
	
	<button ng-click="ResetPlanets()" class="btn btn-danger addPlanetButton planetTabButtonPadding borderColors"
		style="float:right">
		Reset Everything
	</button>
</div>

<!-- Total Information. I should figure out if this can go in its own .html -->
<div class="container-fluid" ng-show="-1 == activePlanet">
<div class="row" id="infoContent">
	<div class="col-xs-4 infoPanel infoPanelLeft">
	<h3 class="headerTextColor">Pricing and Profit</h3>
	<h5>
		The table stats in purple are gathered from 
		<a href='http://eve-marketdata.com/browse_market.php?marketgroup_id=1332'>
			Eve Marketdata
		</a>
	</h5>
	<h5>The current numbers are static from 5/25. Prices are editable.</h5>

	<table class="table table-condensed" >
		<tr>
			<th>Item</th>
			<th>Units/Day</th>
			<th>Jita Vol/Day</th>
			<th>Price 
				<span tooltip="{{priceMessage}}" tooltip-placement="auto">
					<span class="glyphicon glyphicon-question-sign"></span>
				</span>
			</th>
		</tr>
		<tr ng-repeat="item in totalImportExport" ng-if="item.quantity < 0" class="importColors">
			<td>{{data.itemDetails[item.typeID].name}}</td>
			<td>{{item.quantity * -1 * 24 | number:2 | number}}</td>
			<td>{{marketPrices[item.typeID].quantity | number}}</td>
			<td ng-if="!item.edit" ng-click="item.edit = true">
				{{marketPrices[item.typeID].price | number}}
			</td>
			<td ng-if="item.edit">
				<!-- <input type="number" class="editPriceBox" ng-model="{{marketPrices[item.typeID].price}}"> -->
				<form class="form-inline borderColors">
					<input type="text" class="pull-left editTypeBox" ng-model="marketPrices[item.typeID].price" 
						style="font-size:12px">
					<span class="input-group-btn pull-left">
						<button ng-click="item.edit = false; updateTotalImportExportCost()" 
							class="btn btn-primary btn-xs">
							<span class="glyphicon glyphicon-ok"></span>
						</button>
					</span>
				</form>
			</td>
		</tr>
		<tr></tr>
		<tr ng-repeat="item in totalImportExport" ng-if="item.quantity > 0" class="exportColors">
			<td>{{data.itemDetails[item.typeID].name}}</td>
			<td>{{item.quantity * 24 | number:0}}</td>
			<td>{{marketPrices[item.typeID].quantity | number}}</td>
			<td ng-if="!item.edit" ng-click="item.edit = true">
				{{marketPrices[item.typeID].price | number}}
			</td>
			<td ng-if="item.edit">
				<!-- <input type="number" class="editPriceBox" ng-model="{{marketPrices[item.typeID].price}}"> -->
				<form class="form-inline borderColors">
					<input type="text" class="pull-left editTypeBox" ng-model="marketPrices[item.typeID].price" 
						style="font-size:12px">
					<span class="input-group-btn pull-left">
						<button ng-click="item.edit = false; updateTotalImportExportCost()" 
							class="btn btn-primary btn-xs">
							<span class="glyphicon glyphicon-ok"></span>
						</button>
					</span>
				</form>
			</td>
		</tr>
	</table>
	
	<h5>Total hourly tax cost: {{totalTaxCost | number:2}} isk</h5>
	<h5>Total hourly import cost: {{totalImportCost | number:2}} isk</h5>
	<h5>Total hourly export profit: {{totalExportCost | number:2}} isk</h5>
	
	<h5>Profit per hour: {{(totalExportCost - totalImportCost - totalTaxCost) | number:2}}</h5>
	<h5>Profit/day: {{(totalExportCost - totalImportCost - totalTaxCost) * 24 | number:2}}</h5>
	
	
	
	</div>

	<div class="col-xs-4 infoPanel infoPanelMiddle">
		<h2 class="headerTextColor">Warnings and Info</h2>
		<div class="row infoPanelPlanetDisplay" ng-repeat="p in planets">
			<h3 class="headerTextColor">{{p.text}}</h3>
			<div class="row">
				<div class="col-xs-12">Possible Planet Types</div>
				<div class="col-xs-3 planetTypes" ng-repeat="pt in p.allowedPlanets">
					{{planetShorthand[pt]}}
					<!-- note I don't have planet names yet -->
				</div>
			</div>
			<div>Tax Rate = {{p.taxRate}}%</div>
			<div>
				Total runtime is {{p.runtime}} hours ({{p.runtime/24|number}} days) 
				<span ng-show="p.runtime * p.avgActiveCycles == minRuntime" class="errorText">
					This is a bottleneck.
				</span>
			</div>
			<div ng-show="p.importVolume > p.exportVolume">
				Planet is <span class="importColors">IMPORT</span> limited
			</div>
			<div ng-show="p.importVolume < p.exportVolume">
				Planet is <span class="exportColors">EXPORT</span> limited
			</div>
			<div ng-show="p.avgActiveCycles > 1">
				Factory Planet active every {{p.avgActiveCycles|number}} cycles ({{1/p.avgActiveCycles|number}}%) 
			</div>
			<!-- {{p.CPU|number:1}}/{{cclevel[p.level].CPU|number:0}}tf -->
			<div class="errorText" ng-show="p.CPU > cclevel[p.level].CPU">
				CPU usage is {{p.CPU/cclevel[p.level].CPU * 100 | number:1}}%!
			</div>
			<div class="errorText" ng-show="p.Powergrid > cclevel[p.level].Power">
				Powergrid usage is {{p.Powergrid/cclevel[p.level].Power * 100 | number:1}}%!
			</div>
			<div ng-show="p.avgActiveCycles == 1 && p.importVolume > 0" class="errorText">
				Has imports and 100% utilization! 
			</div>
			<div ng-show="p.avgActiveCycles < 1" class="errorText">
				Planet is active more than 100% of the time. No, that's not possible. Fix it.
			</div>
			<div ng-hide="p.launchpads" class="errorText">Planet has no launchpads!</div>
		</div>
	</div>

	<div class="col-xs-4 infoPanel infoPanelRight">
		<h2 class="headerTextColor">Imports and Exports</h2>
		<table class="table table-condensed" style="border-top:0px">
			<tr>
				<th>Item</th>
				<th>Hourly</th>
				<th>Per Run</th>
				<th>Maximum</th>
			<tr ng-repeat-start="p in planets">
				<td><h4>{{p.text}}</h4></td>
				<td/><td/><td/>
			</tr>
			<tr ng-repeat="item in p.importExport" ng-if="item.quantity < 0" class="importColors">
					<td>{{data.itemDetails[item.typeID].name}}</td>
				<td>{{item.quantity * -1 | number:2 | number}}</td>
				<td>{{item.quantity * minRuntime * -1 | number:1}}</td>
				<td>{{item.quantity * p.runtime * -1 | number:1}}</td>
				<!-- <td>{{costByTier[data.itemDetails[item.typeID].tier]}} {{item.quantity}}  {{p.taxRate / 100 * -1}}</td> -->
			</tr>
			<tr></tr>
			<tr ng-repeat="item in p.importExport" ng-if="item.quantity > 0" class="exportColors"
				ng-repeat-end>
				<td>{{data.itemDetails[item.typeID].name}}</td>
				<td>{{item.quantity | number:2 | number}}</td>
				<td>{{item.quantity * minRuntime | number:1}}</td>
				<td>{{item.quantity * p.runtime | number:1}}</td>
			</tr>
		</table>
	</div>

</div>
</div>


<!-- Planet Info place thing... not total info -->
<div class="container-fluid" style="margin-right:0px;" ng-hide="-1 == activePlanet">
<!-- Sidebar -->
<div class="row" id="planetContent">
    <!-- Sidebar -->
    <nav class="col-xs-3 bs-docs-sidebar fixed barColors mySidebar borderColors ">
		
	<!-- <h4>System Information</h4> -->
	<!-- <h5>This setup has {{planets.length}} planets</h5> -->
	<h5 ng-show="minRuntime != 100000">Minimum Runtime: {{minRuntime}}</h5>
	<h5 ng-hide="minRuntime != 100000">No Minimum Runtime Information</h5>
	<h5>Total Setup Cost: {{totalCost | number:0}} isk</h5>
	<h5>Total Tax Cost of One Cycle: {{totalTaxCost | number:2}} isk</h5>
	<table class="table table-condensed" >
		<tr>
			<th>Item</th>
			<th>Hourly</th>
			<th>Max Run</th>
			<th>P.IDs</th>
		</tr>
		<tr ng-repeat="item in totalImportExport" ng-if="item.quantity < 0" class="importColors">
			<td>{{data.itemDetails[item.typeID].name}}</td>
			<td>{{item.quantity * -1  | number}} </td>
			<td>{{item.quantity * minRuntime * -1 | number}}</td>
			<td>{{item.planets}}</td>
		</tr>
		<tr></tr>
		<tr ng-repeat="item in totalImportExport" ng-if="item.quantity > 0" class="exportColors">
			<td>{{data.itemDetails[item.typeID].name}}</td>
			<td>{{item.quantity | number}}</td>
			<td>{{item.quantity * minRuntime | number}}</td>
			<td>{{item.planets}}</td>
		</tr>
	</table>
    
<!--       <div class="col-xs-3 navButtonColumn" style="padding-left:4px">
		<button ng-click="ResetPlanets()" class="btn btn-danger planetButton">Full Reset</button>
		<button ng-click="addPlanet()" class="btn btn-danger planetButton">Add Planet</button>
		
      	<button class="btn btn-primary planetButton" ng-repeat="p in planets"
      		ng-click="changeActivePlanet(p.planetID)">{{p.text}}</button>
      </div>
 -->    
    </nav>



<!--Planets -->
<div class="col-xs-9 col-xs-offset-3" style="padding-right:0">

<div class="row" ng-repeat="p in planets" 
	ng-show="p.planetID == activePlanet" id="{{p.planetID}}"
	style="margin:0">
	
	
	<div class="customHeader col-md-11">
		<h2 class="interactableColor">
			<span ng-hide="p.editText" class="col-md-11"
			 		ng-click="p.editText=1">
				<span>{{p.text}}</span>
				<small tooltip="{{clickMeMessage}}" tooltip-placement="auto">
					<span class="glyphicon glyphicon-question-sign"></span>
				</small>
			</span>
			<form ng-show="p.editText" class="form-inline col-md-11">
				<input type="text" class="form-control pull-left" ng-model="p.text" 
					style="font-size:18px">
				<span class="input-group-btn pull-left">
					<button ng-click="p.editText = 0" class="btn btn-primary">
					<span class="glyphicon glyphicon-ok"></span></button>
				</span>
			</form>
			
			<span class="col-md-1">
				<button ng-click="removePlanet(p); $scope.updateTotalImportExport()" class="btn btn-danger btn-sm pull-right">
					<span class="glyphicon glyphicon-remove"></span>
				</button>
			</span>
		</h2>
	</div>

	<!-- Info Panel -->
	<div class="col-xs-6" style="padding-left:4px">
	
		<div class="row">
			<div class="col-xs-12">Possible Planet Types</div>
			<div class="col-xs-3 planetTypes" ng-repeat="pt in p.allowedPlanets">
				{{planetShorthand[pt]}}
				<!-- note I don't have planet names yet -->
			</div>
		</div><br>
	
		<div class="col-xs-6">
			<div class="barContainer">
				<div class="row">
					Run Hours: {{p.runtime}}
					<span style="float:right">{{p.runtime/24 | number:1}} days</span>
					</div>
					<div class="progress row">
					  <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="24" 
					  	aria-valuemin="0" aria-valuemax="{{p.runHours}}" 
					  	ng-style="{'width' : 24/p.runHours * 100 + '%'}">
					  </div>
					</div>
				<div class="row">Cost: {{p.cost | number:0}} ISK</div>
			</div>
		</div>
		
		<div class="col-xs-6" style="padding-right:4px">
			<div class="barContainer">
				<div class="row">
					CPU: {{p.CPU/cclevel[p.level].CPU * 100 | number:1}}%
					
					<span class="pull-right">
						{{p.CPU|number:1}}/{{cclevel[p.level].CPU|number:0}}tf
					</span>
				</div>
				<div class="progress row">
				  <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="{{p.CPU}}" 
				  	aria-valuemin="0" aria-valuemax="{{cclevel[p.level].CPU}}" 
				  	ng-style="{width : p.CPU/cclevel[p.level].CPU * 100 + '%' }"
					ng-class="{'progress-bar-striped active': IsBigger(p.CPU, cclevel[p.level].CPU)}">
				  </div>
				</div>
				<div class="row">
					Power: {{p.Powergrid/cclevel[p.level].Power * 100 | number:1}}%
					<span class="pull-right">
						{{p.Powergrid|number:1}}/{{cclevel[p.level].Power|number:0}}gw
					</span>
				</div>
				<div class="progress row">
					  <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="{{p.Powergrid}}" 
					  	aria-valuemin="0" aria-valuemax="{{cclevel[p.level].Power}}" 
					  	ng-style="{width : p.Powergrid/cclevel[p.level].Power * 100 + '%'}"
						ng-class="{'progress-bar-striped active': IsBigger(p.Powergrid, cclevel[p.level].Power)}">
					  </div>
				</div>
			</div>
		</div>
		
		<h5>Command Center Level</h5>
		<div class="btn-group btn-group-justified interactableColor" role="group" aria-label="cclevel" ng-click="p.updateCost()">
			<div class="btn-group" role="group">
				<button class="btn btn-default" type="button" ng-click="p.level=0" ng-class="{'btn-primary' : p.level >= 0}"></button>
			</div>
			<div class="btn-group" role="group">
				<button class="btn btn-default" type="button" ng-click="p.level=1" ng-class="{'btn-primary' : p.level >= 1}"></button>
			</div>
			<div class="btn-group" role="group">
				<button class="btn btn-default" type="button" ng-click="p.level=2" ng-class="{'btn-primary' : p.level >= 2}"></button>
			</div>
			<div class="btn-group" role="group">
				<button class="btn btn-default" type="button" ng-click="p.level=3" ng-class="{'btn-primary' : p.level >= 3}"></button>
			</div>
			<div class="btn-group" role="group">
				<button class="btn btn-default" type="button" ng-click="p.level=4" ng-class="{'btn-primary' : p.level >= 4}"></button>
			</div>
			<div class="btn-group" role="group">
				<button class="btn btn-default" type="button" ng-click="p.level=5" ng-class="{'btn-primary' : p.level >= 5}"></button>
			</div>
		</div>
		<!-- Use border-color, it's noticeable. Also border-radius:0 -->
		
		<table class="table table-condensed" style="border-top:0px">
			<tr>
				<th>Item</th>
				<th>Hourly</th>
				<th>Per Run</th>
				<th>Taxes/Hour</th>
			</tr>
			<tr ng-repeat="item in p.importExport" ng-if="item.quantity < 0" class="importColors">
				<td>{{data.itemDetails[item.typeID].name}}</td>
				<td>{{item.quantity * -1 | number}} </td>
				<td>{{item.quantity * p.runtime * -1 | number:0}}
				<td>{{(costByTier[data.itemDetails[item.typeID].tier] * item.quantity * p.taxRate / 100 * -1) | number}}</td>
				<!-- <td>{{costByTier[data.itemDetails[item.typeID].tier]}} {{item.quantity}}  {{p.taxRate / 100 * -1}}</td> -->
			</tr>
			<tr></tr>
			<tr ng-repeat="item in p.importExport" ng-if="item.quantity > 0" class="exportColors">
				<td>{{data.itemDetails[item.typeID].name}}</td>
				<td>{{item.quantity | number}}</td>
				<td>{{item.quantity * p.runtime | number:0}}</td>
				<td>{{(costByTier[data.itemDetails[item.typeID].tier] * item.quantity * p.taxRate / 100) | number}}</td>
			</tr>
		</table>
	</div>

	<!-- Interaction Panel -->
	<div class="col-xs-6">
	
		<div class="row">
			<h4 >Add Basic Factory
			<button class="btn btn-primary btn-sm" ng-click="
			p.addBasic(); p.updateCPU(); p.updateGrid(); p.updateCost()
			" >Basic</button>
			</h4>  
			<div class="input-group input-group-sm" ng-repeat="f in p.basics">
			
				<!-- Delete Factory Button -->
				<span class="input-group-btn">
					<button class="btn btn-danger" ng-click=
						"removeElementFrom(f, p.basics);
						p.updateCPU();
						p.updateGrid();
						p.updateCost();
						p.updateImportExports()">
						<span class="glyphicon glyphicon-remove"></span>
					</button>
				</span>
				
				<!-- Select Datalist -->
				<select id="basicDatalist" ng-model="f.schematic"
					class="input form-control" style="width:auto"
					ng-change="p.updateImportExports()">
					<option value={{o}} ng-repeat="o in basicTypeList | orderBy">
						{{o}}
					</option>
				</select>
		
				<!-- Number Buttons -->
			  	<span class="input-group input-group-sm">
				  <span class="input-group-btn">
					  <button type="button" class="btn btn-default btn-number" ng-if="f.number>0" ng-click="
						f.number = f.number-1;
						p.updateCPU();
						p.updateCost();
						p.updateGrid();
						p.updateImportExports()
						">
						  <span class="glyphicon glyphicon-minus"></span>
					  </button>
					  <button type="button" class="btn btn-disabled btn-number" ng-if="!f.number>0">
						  <span class="glyphicon glyphicon-minus"></span>
					  </button>
				  </span>
				  <input type="number" ng-model="f.number" class="form-control input-number pull-left" 
				  	style="width:50px" maxlength="2" ng-blur="
						p.updateCPU();
						p.updateCost();
						p.updateGrid();
						p.updateImportExports()"> 
					<!-- min="1" max="10" style="width:30px" maxlength=2> -->
				  <span class="input-group-btn pull-left">
					  <button type="button" class="btn btn-default btn-number pull-left"
						 ng-click="f.number = f.number + 1;
						 p.updateCPU();
						p.updateGrid();
						p.updateCost();
						p.updateImportExports()">
						  <span class="glyphicon glyphicon-plus"></span>
					  </button>
				  </span>
				  
				  <span ng-if="p.isFactoryPlanet">
						<input type="number" ng-model=f.avgActiveCycles 
						class="form-control input-number input-sm utilizationField"
						ng-blur="p.updateImportExports()">
				  </span>
				
				</span><!-- Number input -->
			</div><!-- Input Group repeat -->
		</div>
		
		<div class="row">
			<h4 >Add Advanced Factory
			<button class="btn btn-primary btn-sm" ng-click="
			p.addAdvanced(); p.updateCPU(); p.updateGrid(); p.updateCost()
			" >Advanced</button>
			</h4>  
			<div class="input-group input-group-sm" ng-repeat="f in p.advanced">
			
				<span class="input-group-btn">
					<button class="btn btn-danger" ng-click=
						"removeElementFrom(f, p.advanced);
						p.updateCPU();
						p.updateGrid();
						p.updateCost();
						p.updateImportExports()">
						<span class="glyphicon glyphicon-remove"></span>
					</button>
				</span><!-- 
				<input type="text" list="advancedDatalist" ng-model="f.schematic" name="f.schematic" 
					class="input form-control" style="width:auto"
					ng-click="f.schematic = ''"
					ng-change="p.updateImportExports()">
				<datalist id="advancedDatalist">
					<option value={{o}} ng-repeat="o in advancedTypeList | orderBy">
						{{o}}
					</option>
				</datalist> -->
				
				<select id="advancedDatalist" ng-model="f.schematic"
					class="input form-control" style="width:auto"
					ng-change="p.updateImportExports()">
					<option value={{o}} ng-repeat="o in advancedTypeList | orderBy">
						{{o}}
					</option>
				</select>
		
			  <span class="input-group input-group-sm">
				  <span class="input-group-btn">
					  <button type="button" class="btn btn-default btn-number" ng-if="f.number>0" ng-click="
						f.number = f.number-1;
						p.updateCPU();
						p.updateCost();
						p.updateGrid();
						p.updateImportExports()
						">
						  <span class="glyphicon glyphicon-minus"></span>
					  </button>
					  <button type="button" class="btn btn-disabled btn-number" ng-if="!f.number>0">
						  <span class="glyphicon glyphicon-minus"></span>
					  </button>
				  </span>
				  <input type="number" ng-model="f.number" class="form-control input-number pull-left" 
				  	style="width:50px" maxlength="2" ng-blur="
						p.updateCPU();
						p.updateCost();
						p.updateGrid();
						p.updateImportExports()"> 
					<!-- min="1" max="10" style="width:30px" maxlength=2> -->
				  <span class="input-group-btn pull-left">
					  <button type="button" class="btn btn-default btn-number pull-left"
						 ng-click="f.number = f.number + 1;
						 p.updateCPU();
						p.updateGrid();
						p.updateCost();
						p.updateImportExports()">
						  <span class="glyphicon glyphicon-plus"></span>
					  </button>
				  </span>
				  
				  <span ng-if="p.isFactoryPlanet">
						<input type="number" ng-model=f.avgActiveCycles 
						class="form-control input-number input-sm utilizationField"
						ng-blur="p.updateImportExports()">
				  </span>
				</span>
				
			</div>
		</div>
		
		<div class="row">
			<h4 >Add High Tech Factory
			<button class="btn btn-primary btn-sm" ng-click="p.addHighTech(); p.updateCPU(); 
			p.updateGrid(); p.updateCost(); p.updateAllowedPlanets()">
				High Tech
			</button>
			</h4>  
			<div class="input-group input-group-sm" ng-repeat="f in p.hightech">
			
				<span class="input-group-btn">
					<button class="btn btn-danger" ng-click=
						"removeElementFrom(f, p.hightech);
						p.updateCPU();
						p.updateGrid();
						p.updateCost();
						p.updateImportExports();
						p.updateAllowedPlanets()">
						<span class="glyphicon glyphicon-remove"></span>
					</button>
				</span>
				
				<select id="hightechDatalist" ng-model="f.schematic"
					class="input form-control" style="width:auto"
					ng-change="p.updateImportExports()">
					<option value={{o}} ng-repeat="o in hightechTypeList | orderBy">
						{{o}}
					</option>
				</select>
				
			  	<span class="input-group input-group-sm">
				  <span class="input-group-btn">
					  <button type="button" class="btn btn-default btn-number" ng-if="f.number>0" ng-click="
						f.number = f.number-1;
						p.updateCPU();
						p.updateCost();
						p.updateGrid();
						p.updateImportExports()
						">
						  <span class="glyphicon glyphicon-minus"></span>
					  </button>
					  <button type="button" class="btn btn-disabled btn-number" ng-if="!f.number>0">
						  <span class="glyphicon glyphicon-minus"></span>
					  </button>
				  </span>
				  <input type="number" ng-model="f.number" class="form-control input-number pull-left" 
				  	style="width:50px" maxlength="2" ng-blur="
						p.updateCPU();
						p.updateCost();
						p.updateGrid();
						p.updateImportExports()"> 
					<!-- min="1" max="10" style="width:30px" maxlength=2> -->
				  <span class="input-group-btn pull-left">
					  <button type="button" class="btn btn-default btn-number pull-left"
						 ng-click="f.number = f.number + 1;
						 p.updateCPU();
						p.updateGrid();
						p.updateCost();
						p.updateImportExports()">
						  <span class="glyphicon glyphicon-plus"></span>
					  </button>
				  </span>
			  
				  <span ng-if="p.isFactoryPlanet">
						<input type="number" ng-model=f.avgActiveCycles 
						class="form-control input-number input-sm utilizationField"
						ng-blur="p.updateImportExports()">
				  </span>
			  </span>	
			</div>
		</div>
		
		<div class="row">
			<h4 >Add Extractor
			<button class="btn btn-primary btn-sm" ng-click="p.addExtractor(); p.updateCPU(); p.updateGrid()">
				Yay!
			</button>
			</h4>
			<div class="input-group input-group-sm" ng-repeat="e in p.extractors">
				<span class="input-group-btn">
					<button class="btn btn-danger" style="float:left;"
					 ng-click="removeElementFrom(e, p.extractors); p.updateCPU(); p.updateGrid();
					 p.updateImportExports(); p.updateAllowedPlanets()">
						<span class="glyphicon glyphicon-remove"></span>
					</button>
				</span>
				<!-- <input list="extractorTypeList" ng-model="e.resourceId"  name="e.resourceId" class="input form-control" 
					style="float:left; width:auto" ng-click="e.resourceId = ''; p.updateAllowedPlanets()"
					ng-change = "p.updateImportExports(); p.updateAllowedPlanets()">
				<datalist id="extractorTypeList">
					<option ng-repeat="d in p.resourceDatalist"
						value="{{d}}"/>
				</datalist> -->
				
				<select id="extractorTypeList" ng-model="e.resourceId"
					class="input form-control" style="width:auto"
					ng-focus="e.resourceId = ''; p.updateAllowedPlanets()"
					ng-change = "p.updateImportExports(); p.updateAllowedPlanets()">
					<option value={{d}} ng-repeat="d in p.resourceDatalist | orderBy">
						{{d}}
					</option>
				</select>
				
				<span class="input-group input-group-sm">
					<span class="input-group-btn">
					  <button type="button" class="btn btn-default btn-number" ng-show="e.headcount" 
					  ng-click="e.headcount = e.headcount-1; p.updateCPU(); p.updateGrid()">
						  <span class="glyphicon glyphicon-minus"></span>
					  </button>
					  <button type="button" class="btn btn-disabled btn-number" ng-hide="e.headcount">
						  <span class="glyphicon glyphicon-minus"></span>
					  </button>
				  </span>
				  <input type="number" ng-model="e.headcount" class="form-control input-number pull-left" style="width:50px"
				  ng-blur="p.updateCPU(); p.updateGrid()">
					<!-- min="1" max="10" style="width:30px" maxlength=2> -->
				  <span class="input-group-btn pull-left" style="float:left">
					  <button type="button" class="btn btn-default" ng-click="e.headcount = e.headcount+1; p.updateCPU(); p.updateGrid()"
					  	 ng-show="e.headcount < 10">
						  <span class="glyphicon glyphicon-plus"/>
					  </button>
					  <button type="button" class="btn btn-default btn-disabled"
					  	 ng-hide="e.headcount < 10">
						  <span class="glyphicon glyphicon-plus"/>
					  </button>
				  </span>
				</span>
			</div>
		</div>
		
		<h5>
			Storage
			<button ng-show="p.storagefacilities"	class="btn btn-primary btn-xs" 
				ng-click="p.storagefacilities = p.storagefacilities - 1; p.updateCPU(); 
				p.updateGrid(); p.updateStorage()" >
				<span class="glyphicon glyphicon-minus"/>
			</button>
			<button ng-hide="p.storagefacilities"
				class="btn btn-primary btn-disabled btn-xs">
				<span class="glyphicon glyphicon-minus"/>
			</button>
			{{p.storagefacilities}}
			<button ng-click="p.storagefacilities = p.storagefacilities + 1; p.updateCPU(); 
				p.updateGrid(); p.updateStorage()"
				class="btn btn-primary btn-xs">
				<span class="glyphicon glyphicon-plus"/>
			</button>
			
			Launchpads
			<button ng-click="p.launchpads = p.launchpads - 1; p.updateCPU(); 
				p.updateGrid(); p.updateStorage()"
				ng-show="p.launchpads" class="btn btn-primary btn-xs">
				<span class="glyphicon glyphicon-minus"/>
			</button>
			<button ng-hide="p.launchpads"
				class="btn btn-primary btn-disabled btn-xs">
				<span class="glyphicon glyphicon-minus"/>
			</button>
			{{p.launchpads}}
			<button ng-click="p.launchpads = p.launchpads + 1; p.updateCPU(); 
				p.updateGrid(); p.updateStorage()"
				class="btn btn-primary btn-xs">
				<span class="glyphicon glyphicon-plus"/>
			</button>
		</h5>

		<h5>Tax Rate %: <input type="text" class="form-control input-sm" ng-model="p.taxRate" 
			style="width:40px; display:inline; line-height:1; height:22px" min="0" max="100" maxlength=3 ng-change="p.updateTaxes()">
		</h5>
		
		<h5>
			Avg Link Length: <input type="text" class="form-control input-sm" ng-model="p.AvgLinkLength" ng-blur="p.updateCPU(); p.updateGrid()"
				style="width:80px; display:inline; line-height:1">
			<a tooltip="This must be estimated. This can be 10K+ for Gas planets, so don't ignore it" tooltip-placement="auto">
				<span class="glyphicon glyphicon-question-sign"></span>
			</a>
		</h5>
		
		<h5>
			Use Command Center for Storage <input type="checkbox" ng-model="p.useCCStorage"
			ng-change="p.updateCPU(); p.updateGrid(); p.updateStorage()">		
		</h5>
		<h5>
			Imports/Exports only use Launchpads <input type="checkbox" ng-model="p.restrictPads"
			ng-change="p.updateStorage()">
		</h5>
		<h5>
			Partial Utilization <input type="checkbox" ng-model="p.isFactoryPlanet">
			
			<span ng-if="p.isFactoryPlanet">
				Planet is active every
				<input type="number" ng-model="p.avgActiveCycles" class="form-inline input-sm utilizationField" 
				ng-change="p.updateImportExports()"
				style="margin-left: initial">
					cycles
			</span>
			<a tooltip="{{utilizationMessage}}" tooltip-placement="auto">
				<span class="glyphicon glyphicon-question-sign"></span>
			</a>
		</h5>
		
		</div>
		
		
	</div>

	
</div>
	
</div> 
</div> <!-- Container -->

<!-- </div> -->