
<div class="navbar planetTabs barColors borderColors" id="planetNavTabs">

	<ul class="nav nav-tabs">
		<li role="presentation">
			<a class="nav-tabs-minimal" ng-click="addPlanet()" style="border-color: darkred; color: black">Add Planet</a>
		</li>
		<!-- ng-class="totalProfitPerHour > 0 ? 'exportColors' : 'importColors'" -->
		<li role="presentation" ng-class="{'active' : activePlanet == -1}">
			<a class="nav-tabs-minimal" ng-click="changeActivePlanet(-1); populatePriceMap()">Information Panel</a>
		</li>
		<li role="presentation" ng-class="{'active' : activePlanet == p.planetID}" 
			ng-repeat="p in planets">
			<a class="nav-tabs-minimal" ng-click="changeActivePlanet(p.planetID)">{{p.text}}</a>
		</li>
		
		<li role="presentation" class="dropdown pull-right">
			<a class="dropdown-toggle nav-tabs-minimal" data-toggle="dropdown" role="button" 
			aria-haspopup="true" aria-expanded="false" style="border-color: darkred; color: black">
				Menu <span class="caret"></span>
    		</a>
    		<ul class="dropdown-menu">
			  	<li><eg-save-setup-modal generate-save-setup-json="generateSavePlanetJson()"></eg-save-setup-modal></li>
				<li><eg-load-setup-modal populate-setup-from-json="populateSetupFromJson(recoveryString)"></eg-load-setup-modal></li>
				<li><eg-about-modal></eg-about-modal></li>
				<li><eg-planet-help-modal></eg-planet-help-modal></li>
				<li role="separator" class="divider"></li>
				<li><eg-confirm-reset reset="ResetPlanets()"></eg-confirm-reset></li>
			</ul>
		</li>
		
	</ul>
	
	<!-- <div class="btn-group pull-right">
	  <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" 
	  	aria-haspopup="true" aria-expanded="false">
	    	Menu <span class="caret"></span>
	  </button>
	  <ul class="dropdown-menu">
	  	<li><eg-save-setup-modal generate-save-setup-json="generateSavePlanetJson()"></eg-save-setup-modal></li>
		<li><eg-load-setup-modal populate-setup-from-json="populateSetupFromJson(recoveryString)"></eg-load-setup-modal></li>
		<li><eg-about-modal></eg-about-modal></li>
		<li><eg-planet-help-modal></eg-planet-help-modal></li>
		<li role="separator" class="divider"></li>
		<li><eg-confirm-reset reset="ResetPlanets()"></eg-confirm-reset></li>
	  </ul>
	</div> -->
	
	<!-- <button ng-click="addPlanet()" class="btn btn-primary addPlanetButton planetTabButtonPadding borderColors">
		Add Planet
	</button>
	
	<button class="btn planetButton planetTabButton planetTabButtonPadding barColor borderColors" 
    	ng-click="changeActivePlanet(-1); populatePriceMap()" style="color: green">
    	Information Panel
    </button>
	
    <button class="btn planetButton planetTabButton planetTabButtonPadding" 
    	ng-repeat="p in planets" ng-click="changeActivePlanet(p.planetID)">
    	{{p.text}}
    </button> -->
	
	<!-- <button ng-click="ResetPlanets()" class="btn btn-danger addPlanetButton planetTabButtonPadding borderColors"
		style="float:right">
		Reset Everything
	</button> -->
	
	<!-- <div class="btn-group pull-right">
	  <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" 
	  	aria-haspopup="true" aria-expanded="false">
	    	Menu <span class="caret"></span>
	  </button>
	  <ul class="dropdown-menu">
	  	<li><eg-save-setup-modal generate-save-setup-json="generateSavePlanetJson()"></eg-save-setup-modal></li>
		<li><eg-load-setup-modal populate-setup-from-json="populateSetupFromJson(recoveryString)"></eg-load-setup-modal></li>
		<li><eg-about-modal></eg-about-modal></li>
		<li><eg-planet-help-modal></eg-planet-help-modal></li>
		<li role="separator" class="divider"></li>
		<li><eg-confirm-reset reset="ResetPlanets()"></eg-confirm-reset></li>
	  </ul>
	</div> -->
</div>

<!-- Infopanel. Turn into switch? Also probably directive -->
<div class="container-fluid" ng-show="-1 == activePlanet">
	<div id="infoContent">
		<eg-planet-infopanel></eg-planet-infopanel>
		<!-- <div ng-include="'/PIGadget/templates/infopanelTemplate.html'"></div> -->
	</div>
</div>

<!-- Planet Managers -->
<div class="container-fluid" style="padding:0" ng-hide="-1 == activePlanet">
	<!--Planets -->
	<div id="planetContent">
		<eg-planet-creator
			ng-repeat="p in planets" 
			ng-show="p.planetID == activePlanet" id="{{p.planetID}}" style="margin:0">
		</eg-planet-creator>
	</div>
</div> <!-- Container -->

<!-- </div> -->


