<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
    PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-config.dtd">
 
<configuration>

	<properties resource="database.properties"/>
 
    <typeAliases>
        <typeAlias alias="Type" 
        	type="com.evegadgets.gadgets.planetary.mybatis.models.Type"/>
        <typeAlias alias="Materials" 
        	type="com.evegadgets.gadgets.planetary.mybatis.models.Materials"/>
        <typeAlias alias="Planet" 
        	type="com.evegadgets.gadgets.planetary.structure.planets.PlanetDomain"/>
        <typeAlias alias="Resource" 
        	type="com.evegadgets.gadgets.planetary.structure.planets.ResourceDomain"/>
        <typeAlias alias="TypeNamePredomain" 
        	type="com.evegadgets.gadgets.planetary.domain.TypeNamePredomain"/>
        <typeAlias alias="Schematic" 
        	type="com.evegadgets.gadgets.planetary.structure.schematics.SchematicDomain"/>
        <typeAlias alias="Component" 
        	type="com.evegadgets.gadgets.planetary.structure.schematics.ComponentDomain"/>
        <typeAlias alias="NameMapDomain" 
        	type="com.evegadgets.gadgets.planetary.structure.namemap.NameMapDomain"/>
        <typeAlias alias="ItemDetailsDomain" 
        	type="com.evegadgets.gadgets.planetary.structure.itemdetails.ItemDetailsDomain"/>
        <typeAlias alias="PersistPlanetDomain"
        	type="com.evegadgets.gadgets.planetary.persist.PersistPlanetDomain"/>
    </typeAliases>
    
	<environments default="development">
        <environment id="development">
          <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="${database.driver}"/>
                <property name="url" value="${database.url}"/>
                <property name="username" value="${database.user}"/>
                <property name="password" value="${database.password}"/>
            </dataSource>
       </environment>
    </environments>
 
    <mappers>
       <!-- <mapper resource="main/resources/Type.xml"/> -->
       <mapper resource="mappers/Type.xml"/>
       <mapper resource="mappers/Planets.xml"/>
       <mapper resource="mappers/TypeName.xml"/>
       <mapper resource="mappers/Schematics.xml"/>
       <mapper resource="mappers/NameMap.xml"/>
       <mapper resource="mappers/ItemDetails.xml"/>
       <mapper resource="mappers/PlanetPersistence.xml"/>
    </mappers> 

</configuration>